<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title> <%= title %></title>  
    <script defer >
        function changePreview(newImage,ref){
            
            const preview= document.querySelector(`#preview`)

preview.style.opacity=0
preview.src=newImage

preview.style.opacity=1

          

        }
    </script>
  </head>
  <body class="m-0 tracking-widest bg-[#D7CEB2] font-thin font-helvetica-neue ">
<%- include('nav') -%>
        <main class="px-28 ">
            <section class="grid grid-cols-3 grid-rows-4 gap-5 my-[5rem] h-[60vh]">
                <section class="previewImages stretch w-full h-full grid grid-cols-3 grid-rows-3 col-span-2 row-span-4 gap-5">
                    <img id="a" onclick="changePreview(this.src,this)" class="col-start-1  col-end-1 h-full w-full" src="<%= item.src[0] %>">
                    <img id="b" onclick="changePreview(this.src,this)" class="col-start-1 col-end-1 row-start-2 row-end-2 h-full w-full " src="<%= item.src[1] %>">
                    <img id="c" onclick="changePreview(this.src,this)" class="col-start-1 col-end-1 row-start-3 row-end-3 h-full w-full" src="<%= item.src[2] %>">
                    <img id="preview"  class="h-full w-full col-span-2 row-span-3 transition-opacity ease-in-out duration-[3s]" src="<%= item.src[0] %>">
                </section>
            
<section class="flex flex-col ">
<h1 class="m-0 text-13xl font-light"><%= item.name %></h1>
<p>$<%= item.price %></p>
<p class="overflow-auto">
    <%= item.description %>
</p>
</section>
<section class=" flex col-start-3 row-start-4 row-end-4 mt-6 relative items-end ">
    <a role="button" href="<%= item.url %>/edit" class="inline-block  p-3 mr-5 no-underline bg-[#3C3C34] text-[#F5F5F5]">Edit</a>        
    <a role="button" href="delete" class="inline-block p-3 no-underline bg-[#3C3C34] text-[#F5F5F5]">Delete</a>        
</section>
            </section>
        </section>

        <h1 class="text-center  font-light pb-12 text-17xl text-[#3C3C34]">collections</h1>
        <section class="grid my-10 gap-8 max-h-[60vh] grid-cols-3  grid-flow-row">
        <article class="relative  ">  
            <picture >
                <source
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 100vw, 767px"
                srcset="
                ../images/collections/the-man-in-the-hat_b23q59_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg 200w,
                ../images/collections/the-man-in-the-hat_b23q59_ar_1_1,c_fill,g_auto__c_scale,w_598.jpg 598w,
                ../images/collections/the-man-in-the-hat_b23q59_ar_1_1,c_fill,g_auto__c_scale,w_767.jpg 767w">
                <source
                media="(min-width: 768px) and (max-width: 991px)"
                sizes="(max-width: 991px) 70vw, 694px"
                srcset="
                ../images/collections/the-man-in-the-hat_b23q59_ar_4_3,c_fill,g_auto__c_scale,w_538.jpg 538w,
                ../images/collections/the-man-in-the-hat_b23q59_ar_4_3,c_fill,g_auto__c_scale,w_694.jpg 694w">
                <img class="h-[100%] w-[100%]" 
                sizes="(max-width: 3500px) 40vw, 1400px"
                srcset="
                ../images/collections/the-man-in-the-hat_b23q59_c_scale,w_397.jpg 397w,
                ../images/collections/the-man-in-the-hat_b23q59_c_scale,w_751.jpg 751w,
                ../images/collections/the-man-in-the-hat_b23q59_c_scale,w_1096.jpg 1096w,
                ../images/collections/the-man-in-the-hat_b23q59_c_scale,w_1272.jpg 1272w,
                ../images/collections/the-man-in-the-hat_b23q59_c_scale,w_1400.jpg 1400w"
                src="../images/collections/the-man-in-the-hat_b23q59_c_scale,w_1400.jpg"
                alt="">
                
                </picture>
                <div class="absolute bg-[#3C3C34] bg-opacity-60 text-[#ffff] bottom-0 left-0 flex w-full justify-center items-center bg-">
                    <a role="button" href="/collection/" class=" block py-2 no-underline font-light text-[#F5F5F5]">Brows all collections</a>        
                </div>
        </article>
        <article class="  relative" >
            <picture>
                <source
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 100vw, 767px"
                srcset="
                ../images/collections/watch-held-in-hand-over-road_afgiis_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg 200w,
                ../images/collections/watch-held-in-hand-over-road_afgiis_ar_1_1,c_fill,g_auto__c_scale,w_651.jpg 651w,
                ../images/collections/watch-held-in-hand-over-road_afgiis_ar_1_1,c_fill,g_auto__c_scale,w_767.jpg 767w">
                <source
                media="(min-width: 768px) and (max-width: 991px)"
                sizes="(max-width: 991px) 70vw, 694px"
                srcset="
                ../images/collections/watch-held-in-hand-over-road_afgiis_ar_4_3,c_fill,g_auto__c_scale,w_538.jpg 538w,
                ../images/collections/watch-held-in-hand-over-road_afgiis_ar_4_3,c_fill,g_auto__c_scale,w_694.jpg 694w">
                <img class="h-[100%] w-[100%]"
                sizes="(max-width: 3500px) 40vw, 1400px"
                srcset="
                ../images/collections/watch-held-in-hand-over-road_afgiis_c_scale,w_397.jpg 397w,
                ../images/collections/watch-held-in-hand-over-road_afgiis_c_scale,w_890.jpg 890w,
                ../images/collections/watch-held-in-hand-over-road_afgiis_c_scale,w_1127.jpg 1127w,
                ../images/collections/watch-held-in-hand-over-road_afgiis_c_scale,w_1400.jpg 1400w"
                src="../images/collections/watch-held-in-hand-over-road_afgiis_c_scale,w_1400.jpg"
                alt="">
                </picture>
                <div class="absolute  bg-[#3C3C34] bg-opacity-60 text-[#ffff] bottom-0 left-0 flex w-full justify-center items-center bg-">
                    <a role="button" href="/collection/accessory" class=" block py-2 no-underline font-light text-[#F5F5F5]">Accessory</a>        
        
                </div></article>
        <article class="  relative">
            <picture>
                <img class="w-[100%] h-[100%]"
                sizes="(max-width: 1400px) 100vw, 1400px"
                srcset="
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_200.jpg 200w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_636.jpg 636w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_683.jpg 683w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_902.jpg 902w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_1050.jpg 1050w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_1109.jpg 1109w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_1232.jpg 1232w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_1355.jpg 1355w,
                ../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_1400.jpg 1400w"
                src="../images/collections/mens-fashion-close-up-shirt-tucked-in-leaning_fc4j38_c_scale,w_1400.jpg"
                alt="">
                </picture>
                <div class="absolute bg-[#3C3C34] bg-opacity-60 text-[#ffff] bottom-0 left-0 flex w-full justify-center items-center bg-">
                    <a role="button" href="/collection/buttonup" class=" block py-2 no-underline font-light text-[#F5F5F5]">Button up</a>        
                </div>
        </article>
        </section>
                </main>
          
  
<%- include('footer') -%>
</body>
</html> 




